body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(95, 182, 182);
}
/* .search-field {
  border: none;
  border-radius: 10px;
  padding: 5px;
  outline: none;
}
.search-field:hover {
  outline: none;
  border: none;
}
.search-box {
  border: 1px solid rgb(3, 118, 211);
  width: 281px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  border-right: none;
}
.search-button {
  padding: 10px 50px;
  border-radius: 25px;
  margin-left: 20px;
} */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid green; */
  text-align: center;
  width: 100%;
  /* margin: 30px; */
  align-items: center;
  justify-content: center;
}
.single-product, .cart {
  height: 510px;
  width: 280px;
  border-radius: 10px;
  background-image: linear-gradient(burlywood, peachpuff);
  margin: 10px;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  transition: 0.6s;
}
.single-product:hover {
  border-radius: 10px;
  border: 1px solid rgb(196, 113, 124);
}
.product-image {
  margin: 5px;
  width: 190px;
  height: 200px;
  border-radius: 10px;
}
.cart {
  width: 280px;
  border: 1px solid rgb(196, 113, 124);
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  position: fixed;
}
.search-button{
  background-color: rgb(156, 22, 22);
}
h6, h3{
  color: rgb(156, 22, 22);
  font-weight: bold;
}
.fa-star, .half{
  color: hsl(170, 68%, 33%);
  /* color: rgb(214, 168, 16); */
}
.cart-main {
  padding-right: 30px;
}
.category{
  color: rgb(68, 44, 36);
  font-weight: bold;
}
.cart-header, .p-clr{
  color: rgb(64, 114, 89);
  font-weight: bold;
}
.btn-details{
  /* background-color: rgb(190, 113, 135); */
  background-color:teal;
  color: white;
  padding: 7px 22px;
  border: none;
  border-radius: 8px;
}
.btn-cart{
  background-color: rgb(64, 114, 89);
  color: white;
  margin: 13px;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
